@page "/counter"
@attribute [Authorize]

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p>Hello @Username!</p>
<p role="status">Current count: @CurrentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    [CascadingParameter]
    private Task<AuthenticationState>? AuthenticationState { get; set; }
    private int CurrentCount { get; set; }
    private string Username { get; set; } = "";
    
    protected override async Task OnInitializedAsync()
    {
        if (AuthenticationState is not null)
        {
            var state = await AuthenticationState;
            Username = state.User.Identity?.Name ?? string.Empty;
        }
        
        await base.OnInitializedAsync();
    }

    private void IncrementCount()
    {
        CurrentCount++;
    }

}