<nav class="@(IsMobile ? "flex flex-1 flex-col" : "")">
    <ul role="list" class="flex flex-1 flex-col gap-y-7">
        <li>
            <ul role="list" class="-mx-2 space-y-1">
                <li>
                    <NavLink href="" Match="NavLinkMatch.All"
                             class="group flex items-baseline gap-x-3 rounded-md p-2 text-sm font-semibold leading-6 text-gray-400 hover:bg-gray-800 hover:text-white"
                             ActiveClass="group flex gap-x-3 rounded-md bg-gray-800 p-2 text-sm font-semibold leading-6 text-white">
                        <Icon Name="FontAwesomeIcons.Home"/> Home
                    </NavLink>
                </li>
                <li>
                    <NavLink href="counter"
                             class="group flex items-baseline gap-x-3 rounded-md p-2 text-sm font-semibold leading-6 text-gray-400 hover:bg-gray-800 hover:text-white"
                             ActiveClass="group flex gap-x-3 rounded-md bg-gray-800 p-2 text-sm font-semibold leading-6 text-white">
                        <Icon Name="FontAwesomeIcons.Plus"/> Counter
                    </NavLink>
                </li>
                <li>
                    <NavLink href="weather"
                             class="group flex items-baseline gap-x-3 rounded-md p-2 text-sm font-semibold leading-6 text-gray-400 hover:bg-gray-800 hover:text-white"
                             ActiveClass="group flex gap-x-3 rounded-md bg-gray-800 p-2 text-sm font-semibold leading-6 text-white">
                        <Icon Name="FontAwesomeIcons.Table"/> Weather
                    </NavLink>
                </li>
            </ul>
        </li>
    </ul>
</nav>

@code
{
    [Parameter]
    public bool IsMobile { get; set; }
}
